<!DOCTYPE html>
<html>
<head>
	<title> Diff for input file </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	<style><	EQUAL {
	background: white;
    color: black;
    padding: 2px; 
	}   INSERT {
    background: #00FF00; 
    color: black; 
    padding: 2px; 
   }
   
   DELETE {
    background: #DCDCDC;
    color: black; 
    padding: 2px;
   }
   
   EDITLEFT {
    background: #00BFFF;
    color: black; 
    padding: 2px;
   }
   EDITRIGHT {
    background: #00BFFF;
    color: black; 
    padding: 2px;
   }
  </style>
	
	
</head>
<body>
	
	<div class="row">
			
			<div class="col-md-6 no-gutters">
			
				<div class="leftside d-flex justify-content-center align-items-center"> 
					$$Leftside$$
					
				</div>
				
			</div>
			<div class="col-md-6 no-gutters">
			
				<div class="leftside d-flex justify-content-center align-items-center"> 
					$$RighSide$$
				</div>
				
			</div>			
			
	</div>
	

</body>
</html>
